.owl-carousel {
    position: relative;
    .container{
        padding: 0;
    }
    .ftco-content-slider{
        padding-top: 75px;
        padding-left: 25px;
        background: rgba(230, 230, 230, 0.85);
    }
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			color: $primary !important;
			@include transition(.7s);
			span {
				&:before {
					font-size: 30px;
				}
			}
			opacity: 0;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:hover, &:focus{
				outline: none !important;
			}
			&.active {
				background: lighten($black, 70%);
			}
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev,
			.owl-next{
				opacity: 1;
			}
			.owl-prev {
				left: -25px;
			}
			.owl-next {
				right: -25px;
			}
		}
	}
	&.home-slider {
		position: relative;
		height: 474px;
		z-index: 0;
		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
			height: 474px;
			position: relative;
			z-index: 0;
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: .6;
			}
			.slider-text {
				height: 474px;
				.text{
					position: relative;
				}
				.heading {
					font-size: 30px;
					color: $quarternary;
					line-height: 1.2;
					font-weight: 600;
					text-align: right;
					padding-right: 10px;
					span{
						display: block;
					}
				}
				.subheading{
					font-size: 15px;
					color: $black;
					font-weight: 600;
					text-align: right;
					padding-right: 10px;

				}
				p{
					color: rgba(255,255,255,.9);
				}
				//BREADCRUBS
				.breadcrumbs{
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 1px;
					span{
						border-bottom: 2px solid rgba(255,255,255,.1);
						a{
							color: $white;
						}
					}
				}
			}
		}
		.owl-nav {
			position: absolute;
			top: 100%;
			width: 100%;
			.owl-prev,
			.owl-next {
				position: absolute;
				transform: translateY(-50%);
				margin-top: -10px;
				outline: none !important;
				@include transition(.3s);
				span {
					&:before {
						font-size: 30px;
						color: rgba(255,255,255,.5);
						@include transition(.3s);
					}
				}
				&:hover,&:focus{
					span{
						&:before{
							color: $white;
						}
					}
				}
				opacity: 0;
			}
			.owl-prev {
				left: 50%;
				margin-left: -80px;
			}
			.owl-next {
				right: 50%;
				margin-right: -80px;
			}
		}
		&:hover{
			.owl-nav{
				.owl-prev,
				.owl-next{
					opacity: 1;
				}
				.owl-prev {
					left: 50%;
					margin-left: -80px;
				}
				.owl-next {
					right: 50%;
					margin-right: -80px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
			width: 100%;
            text-align: end;
			padding-right: 15px;
			
			.owl-dot {
				width: 12px;
				height: 12px;
				margin: 5px;
				border-radius: 50%;
				background: $fifth;
				&.active {
					background: $white;
				}
			}
		}
	}
} 